:root {
  /* Colours */
  --color-bg: light-dark(#fceb94, #1e1e1e); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#ff4b00, #b34313);

  /* Logotype */
  --color-logotype-bg: light-dark(#000000, #1e1e1e);
  --color-text-logotype: light-dark(#fffae2, #323233);
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: light-dark(#6f90eb, #1e1e1e);
  /* Links */
  --color-link-bg: light-dark(#fffae2, #323233);
  --color-link-hover: light-dark(#fff, #3f3f41); /* used */
  --color-link-active: light-dark(#99958f, #323233); /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#000000, #3f3f41);
  --color-headline-text-page: light-dark(#fffae2, #d4d4d4);

  /* Tekst */
  --color-text: light-dark(#000000, #d4d4d4);
  --color-text-inverted: light-dark(#fffae2, #d4d4d4);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(#ffffff, #323233);
  --color-cta-card-bg: light-dark(#ff4b00, #b34313);
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #323233);
  --color-news-bg-inverted: light-dark(#dbe2f5, #323233);
  --color-cta-newscard-bg: light-dark(#ffa680, #b34313);
  --color-cta-newscard-bg-inverted: light-dark(#6f90eb, #b34313);

  /* Fonts */
  --font-family-sans: "rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#ffffff, #323233);
  --color-infobox-1-bg: light-dark(#fceb94, #323233);
  --color-infobox-2-bg: light-dark(#def5db, #323233);
}
