#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
/* #form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
} */
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 1rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/* MY CSS */
#form-section {
  background-color: light-dark(#ffffff, #3f3f41);
}

#form-summary {
  background-color: light-dark(#fffae2, #323233);
}

#form-info h2 {
  color: light-dark(#fffae2, #d4d4d4);
  background-color: light-dark(black, #323233);
  display: block;
  width: 100%;
  padding: 1rem 0;
  margin: 3rem 0 1.5rem 0;
  font-size: 2rem;
  text-align: center;
}

#form-summary h2 {
  color: light-dark(#fffae2, #d4d4d4);
  background-color: light-dark(#ff4b00, #3f3f41);
  display: block;
  width: 100%;
  padding: 1rem 0;
  margin: 3rem 0 1.5rem 0;
  font-size: 2rem;
  text-align: center;
}

#form-info p {
  margin: 1.5rem 0;
  text-align: center;
}

input {
  border: none;
  padding: 0.5rem;
  background-color: light-dark(#dbe2f5, #323233);
}

button {
  border: none;
  background-color: light-dark(#ff4b00, #b34313);
  color: light-dark(#fffae2, #d4d4d4);
  padding: 0.5rem;
  cursor: pointer;
}

.error-message {
  color: light-dark(#ff0000, #da3e44);
  display: none;
}

/*form layout*/
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 5rem 3rem 5rem;
}

.form-group {
  display: grid;
  gap: 0.5rem;
}

#form-group-email {
  grid-area: 2/1/3/3;
}

#form-group-symptoms {
  grid-area: 3/1/5/2;
}

#form-group-comment {
  grid-area: 5/1/6/3;
}

#submit_button {
  grid-area: 6/1/7/3;
}

#form-group-symptoms,
#form-group-gender select,
#form-group-gender option {
  padding: 1rem;
}

#form-requirement {
  color: #7a7a7a;
  line-height: 0.5rem;
}

.summary_label {
  font-weight: 600;
}

.summary_output {
  color: #5d5d5d;
}

label:has(:input) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-self: start;
}

:focus-visible {
  outline: 2px solid #6f90eb;
  outline-offset: 1px;
}

button:hover {
  background: light-dark(#fffae2, #d4d4d4);
  color: light-dark(#ff4b00, #b34313);
}

button:active {
  scale: 0.98;
}

.form-group:has(:required) {
  label::after {
    content: "*";
    color: light-dark(#ff0000, #da3e44);
  }
}

.form-group[data-required="true"]:has(input) {
  legend::after {
    content: "*";
    color: #ff0000;
  }
}

.form-group:has(:user-invalid) {
  .error-message {
    display: block;
  }
  input {
    outline: solid 1px #ff0000;
  }
}

.form-group:has(:user-valid) {
  .error-message {
    display: none;
  }
  input {
    outline: solid 1px green;
  }
}
