/* article */
[popover] {
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;

  &:popover-open {
    display: grid;
    justify-self: center;
    align-self: center;
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
}

.cta_btn {
  border: none;
}

.popup {
  border: none;
  padding: 1rem;
}

/* teaser */
summary::marker {
  content: none;
}

.accordion {
  background-color: light-dark(#ffa680, #3f3f41);
  border-radius: 5px;
  width: 80%;
}

.accordion_content p {
  padding: 1rem;
  margin: 0;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    padding: 0.5rem;
  }
}
